*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    font-family: 'sofia', 'serif';
}
.container{
    position: relative;
    display: flex;
    flex-direction: row;
}
.container .box {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content:center;
    align-items: row;
    margin: 100px ;
}
.container .box span {
    position:absolute;
    box-sizing: border-box;
    border: 2px solid purple;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    animation-delay: calc(-0.5s * var(--i));
}
.container .box:nth-child(2) span {
    border: none;
    background: lightcoral;
    display: flex;
    margin-bottom: 100px;
}
@keyframes animate 
{
    0%
    {
        width: 0px;
        height: 0px;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
.container h1{
color: lightblue;
margin: 0px;
display: flex;
justify-content: center;
align-items: center;
font-size: 55px;
}